body {
  background-color: #272727;
}
.txt {
  color: white;
  font-size: 60px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.top_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
}
.menu_txt{
  color: white;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  float: left;
  margin-left: 20px;
  margin-right: 15px;
  padding: 5px;
  /*line-height: 150px;
  padding-top: 35px;*/
}
.menu_txt:hover{
  color: #c3c3c3;
}
.title{
  color: white;
  font-size: 60px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.navbar{
  margin-left: 30px;
  position: absolute;
  left: 120px;
  top: 90px;
}
.article{
  margin-left: 25px;
  margin-right: 25px;
  width: 500px;
  height: 225px;
  object-fit: cover;
}
.row{
  text-align: center;
}
